<!DOCTYPE html>
<html>
    <body>
        <div>
            <h1>GRaph</h1>
            <p>{{ Graph }}</p>
        </div>
        <div>
            <h1>allwork</h1>
            <p>{{ allwork }}</p>
        </div>
        <div>
            <h1>startwork</h1>
            <p>{{ startwork }}</p>
        </div>
        <div>
            <h1>finalwork</h1>
            <p>{{ finalwork }}</p>
        </div>
        <div>
            <h1>allwork_virtual</h1>
            <p>{{ allwork_virtual }}</p>
        </div>
        <div>
            <h1>stackLateStart</h1>
            <p>{{ stackLateStart }}</p>
        </div>
        <div>
            <h1>earlyStartList</h1>
            <p>{{ earlyStartList }}</p>
        </div>
        <div>
            <h1>lateStartList</h1>
            <p>{{ lateStartList }}</p>
        </div>
    </body>
</html>